body {
      font-family: Arial, sans-serif;
      /* margin: 20px; */
      margin: 0;
      padding: 0;
      
      
    }
    header{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 200px;
        width: 100%;
      
        
    }
    header> .left-column > .logo img{
        height: 100px;
        width: 100px;
    }
     header> .left-column > .logo{
       display: flex;
       justify-content: flex-start;
     
    }
    header> .center-column{
        width: 950px;
     
    }
    .product {
        
      border: 1px solid #ccc;
      padding: 20px;
      max-width: 400px;
    }
    .product img {
      width: 50px;
      height: auto;
    }
    .price {
      font-size: 24px;
      color: green;
    }
    .cart-count {
      font-weight: bold;
      margin-top: 10px;
    }
    .cart-count img{
        width: 30px;
        height: auto;
    }
    form{
      border: #ccc 1px;
      width: 200px;
    }